<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document Management</title>
    <style>
        p {
            margin-bottom: 20px; /*line margin*/
        }
    </style>
</head>
<body>
    <h1>Welcome to Document Management</h1>
    <a href="/documents">List Documents</a>
    <p></p>
    <a href="/documents/create">Create New Document</a>
</body>
</html>
